{% extends "main.html" %}
{% load crispy_forms_tags %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Awards</li>
    </ol>
</nav>
<div class="row">
    <div class="col-xl-4 col-lg-5">
        <div class="card">
            <div class="card-header">
                <h5>Add Award</h5>
            </div>
            <form action="" method="post">
                <div class="card-body">
                    <!-- Earnings (Monthly) Card Example -->
                    {% csrf_token %}
                    <div class="d-flex flex-row">
                        {{form.award_title|as_crispy_field}}
                        <a href="" class="btn btn-outline-primary" style="margin-left: 5px; height: 40px; margin-top: 30px;" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#editTitle"><i class="bi bi-plus-square"></i></a>
                    </div>
                    {{form.name|as_crispy_field}}
                    {{form.citation|as_crispy_field}}
                    {{form.date|as_crispy_field}}
                    {{form.background|as_crispy_field}}
                </div>
                <div class="modal-footer">
                    <input class="btn btn-primary btn-sm" type="submit" value="Add award">
                </div>
            </form>
        </div>
    </div>
    <div class="col-xl-8 col-lg-7">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <strong>{{title|title}}</strong>
                    <button disabled type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="left" title="Under construction">
                        <i class="bi bi-save"></i> EXPORT PDF
                    </button>
                </div>
            </div>
            <div class="card-body">
                <table id="awardee" class="table table-stripe table-sm">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Award Title</th>
                            <th>Award Date</th>
                            <th>Edit</th>
                            <th>Save</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for awardee in awardees %}
                        <tr>
                            <td>{{awardee.name|title}}</td>
                            <td>{{awardee.award_title|title}}</td>
                            <td>{{awardee.date|date:"D d Y"}}</td>
                            <td><a href="{%url 'awards:update' awardee.award_code%}" class="btn btn-outline-primary btn-sm"><i class="bi bi-pencil-square"></i></a></td>
                            <td><a href="{% url 'awards:view_pdf' awardee.award_code %}" target="_blank" class="btn btn-outline-success btn-sm"><i class="bi bi-download"></i> PDF</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editTitle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add Award Title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="" method="post">
            <div class="modal-body">
                {% csrf_token %}
                {{ title_form|crispy }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <input class="btn btn-primary" type="submit" value="Add Title">
            </div>
        </form>
      </div>
    </div>
</div>
{% endblock %}